# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/
Gemfile.lock

# OS junk
.DS_Store
Thumbs.db

# Ruby version managers
.rbenv-version
.ruby-version

# IDE/project files
.vscode/
.idea/
*.swp

