html {
  scroll-behavior: smooth;
}

.totop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #FFBF00;
  padding: 5px;
  border-radius: 20px;
}

.totop img {
  width: 32px;
}

nav {
  background-color: #0d671f;
  overflow: hidden;
}

nav a {
  float: right;
  display: block;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #1ec82f;
  color: #080808;
}

nav a:visited {
  color: whitesmoke;
}


#title {
  font-size: 48px;
  /* Adjust the font size as needed */
  color: #FF5722;
  text-align: center;
  /* Center the text */
  font-family: 'Fira Code', monospace;
  /* Choose your desired font-family */
  text-shadow: 2px 2px 4px #ffffff;
  /* Text shadow effect */
  transition: text-shadow 0.3s ease-in-out;
  /* Smooth transition for the text shadow */
}

#title:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  /* Adjust the hover text shadow effect */
}

#jobtitle {
  font-size: 28px;
  /* Adjust the font size as needed */
  color: #FF5722;
  text-align: center;
  /* Center the text */
  font-family: 'Fira Code', monospace;
  /* Choose your desired font-family */
}

#links {
  font-size: 20px;
  padding-top: 5px;
}

.bullet-list {
  padding-left: 30px;
}

h2 {
  font-size: xx-large;
  text-indent: 0.1cm;
  color: #ff9800;
}

h3 {
  text-indent: 0.2cm;
  color: #db7777
}

img#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
}

body {
  font-family: "Source Code Pro", monospace;
  /* Choose your desired font-family */
  background-color: "lightblue";
  color: #333333;
  line-height: 1.5em;
  max-width: 70%;
  margin-bottom: 100px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #007BFF;
  /* Choose your desired text color */
}

a:visited {
  color: #FF00FF;
}

.highlight {
  background-color: #4caf50;
  color: #333333;
}

.bullet-list li {
  margin-bottom: 12px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin-right: 20px;
  text-align: center;
  /* Allow flexible width, but set a maximum width */
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.book-cover {
  height: 300px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

  img#profile {
    width: 250px;
  }

  body {
    max-width: 96%;
  }

  .book {
    flex: 1 0 100%;
    /* Full width for mobile */
    margin-right: 0;
    /* Remove margin for mobile */
  }
}
